html {
    font: 16px sans-serif;
    font-weight: 300;
}

button,
h1,
h2,
h3,
h4,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-weight: 400
}

html {
    max-width: 100%;
    overflow-x: hidden
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}
.p {
    line-height: 1.8rem
}

.button {
    background-color: #3d70b2;
    border: none;
    color: white;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
    display: inline-block;
    margin-top: 8px;
    font-size: 20px;
    cursor: pointer;
}

.grey-bg {
    background-color: #f5f5f5;
    color: #14003c
}

.blue-bg {
    background-color: #14003c;
    color: #f5f5f5!important
}

.home-main {
    flex: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
}

.intro {
    max-width: 40rem;
    margin-bottom: 1rem;
    width: 80%;
    line-height: 1.8rem
}

.intro i {
    font-size: 1.8rem;
    margin-right: .5rem;
    -webkit-transform: translateY(.3rem);
    transform: translateY(.3rem)
}

.intro a {
    text-decoration: none;
    color: #3d70b2
}

.intro a:hover {
    text-decoration: underline;
    color: #3d70b2
}

.dl-container {
    margin: 0 auto
}

.dl-container select#variant-selector {
    margin-top: 1rem
}

.invisible {
    visibility: hidden
}
.footer {
    flex-shrink: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background: #14003c;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    border-top: none
}

.header {
    margin-left: 1rem;
}

#dl-text {
    margin-bottom: 1rem
}

#minor-links {
    margin-top: 0.5rem;
    color: #dadada;
}

#minor-links span {
    margin: 0 .3rem;
    color: #dadada;
    font-size: 1.2rem
}

.blue-link-section a {
    text-decoration: none
}

.blue-link-section a,
.blue-link-section a * {
    color: #2d1067;
    text-decoration: none
}

.blue-link-section a :hover,
.blue-link-section a:hover {
    text-decoration: underline
}

.inline-block {
    display: inline-block;
    color: white;
}

.blue-button {
    background-color: #2d1067;
    color: #f5f5f5!important;
    border-radius: .2rem;
    padding: 0 1.5rem;
    line-height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    margin: .2rem
}

#logo {
    margin: auto;
    display: table;
    cursor: pointer;
    padding-bottom: 1em
}

#logo img {
    height: 3.5em;
    padding-top: 1.5em
}