<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="banner lead">
    Adoptium
</div>

<div class="container">
    <div>
        <a href="/">Starting Page</a>
        <h2>{msg:thankYouDownloadStarting}</h2>

        <a href="{template.getDownloadLink()}">
            {msg:thankYouDownloadStartingLink(template.getVendor(),template.getImageType(),template.getVersion(),template.getOs(),template.getArch())}
        </a>
        &nbsp;<button id="btn-copy-dll">{msg:literalCopy}</button>
        <p>
            {msg:thankYouDownloadTimeout}<br>
            <a href="{template.getDownloadLink()}">{msg:thankYouDownloadTimeoutClickAgain}</a>
        </p>
        <p>{msg:literalChecksum} (SHA-256): {template.getChecksum()}</p>
        <button id="btn-copy-chksm">{msg:literalCopy}</button>
    </div>
</div>
<script type="text/javascript" scoped>
    window.open('{template.getDownloadLink()}', '_self');

    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }

    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function () {
            console.log('Async: Copying to clipboard was successful!');
        }, function (err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    var btnCopyDll = document.querySelector('#btn-copy-dll'),
        btnCopyChksm = document.querySelector('#btn-copy-chksm');
    btnCopyDll.addEventListener('click', function (event) {
        copyTextToClipboard('{template.getDownloadLink()}');
    });
    btnCopyChksm.addEventListener('click', function (event) {
        copyTextToClipboard('{template.getChecksum()}');
    });
</script>
</body>
</html>