<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Download - Error</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        {#include HeaderFooterTemplates/header /}

        <div class="site-content">
            <div class="container">
                <div class="left-column">
                    <p id="error">{template.getErrorMessage().raw}</p>
                    <p>{template.getSuggestion().raw}</p>
                </div>
            </div>
        </div>

        {#include HeaderFooterTemplates/footer /}
    </body>
</html>
