<header class="header" id="main-header">
    <a id="logo" href="https://adoptium.net/index.html" class="a-button">
        <img src="/assets/adoptium/adoptium_logo.svg" alt="Adoptium Logo">
    </a>

    <div class="container" id="locales">
        <form action="#" method="GET">
            <select name="locale" id="languageSelect" onchange="this.form.submit()">
                {#for loc in header.getLocales()}
                <option value="{loc}" {#if header.getLocale() is loc.toString()} selected{/if}>{loc.getDisplayLanguage(loc)}</option>
                {/for}
            </select>
        </form>
    </div>

    <div>
        <div id="minor-links">
            <a href="/"><h3 class="inline-block zero-margin">Home</h3></a>
            <span> | </span>
            <a href="/members"><h3 class="inline-block zero-margin">Members</h3></a>
            <span> | </span>
            <a href="/documentation/testdoc1"><h3 class="inline-block zero-margin">TestDoc1</h3></a>
            <span> | </span>
            <a href="/documentation/testdoc2"><h3 class="inline-block zero-margin">TestDoc2</h3></a>
        </div>
    </div>
</header>

