<div class="header">
    {msg:headerAdoptium}

    <div>
        <div id="minor-links">
            <a href="/">Home</a>
            <span> | </span>
            <a href="/members">Members</a>
            <span> | </span>
            <a href="/documentation/testdoc1">TestDoc1</a>
            <span> | </span>
            <a href="/documentation/testdoc2">TestDoc2</a>
        </div>
    </div>

    <div class="container" id="locales">
        <form action="#" method="GET">
            <select name="locale" id="languageSelect" onchange="this.form.submit()">
                {#for loc in header.getLocales()}
                <option value="{loc}" {#if header.getLocale() is loc.toString()} selected{/if}>{loc.getDisplayLanguage(loc)}</option>
                {/for}
            </select>
            <noscript>
                <input type="submit" value="{msg:literalOk}">
            </noscript>
        </form>
    </div>
</div>