<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website-Adoptium</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="banner lead">
    {msg:adoptium}
</div>

<div class="container">
    {#if template.errorText == null}
    {msg:welcomeMainText}
    {#else}
    {template.errorText}
    {/if}
</div>

<div class="container" id="main">
    <a href="{template.getRedirectPath()}" class="button" id="download_btn">
        <div id="dl-version">
            <i id="dl-icon" class="fa fa-download" aria-hidden="true"></i>
            {#if template.errorText == null}
            <span>{msg:welcomeDownloadButtonHeader}</span>
            {#else}
            <span>{msg:download_button_fallback}</span>
            {/if}
            <i id="dl-icon-2" class="fa fa-arrow-circle-o-right hide" aria-hidden="true"></i>
        </div>
        {#if template.errorText == null}
        <div class="dl-description">
            {msg:welcomeDownloadButtonBody(template.getVersion(),template.getOs(),template.getArch())}
        </div>
        {/if}
    </a>
</div>
</body>
</html>