<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website-Adoptium</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="banner lead">
    {msg:adoptium}
</div>

<div class="container">
    {msg:main_text}
    <br>
    {msg:download_java(download_name)}
</div>

<div class="container" id="main">
    <a href="/download/thank-you/{thank-you-version}" class="button" id="download_btn">
        <div id="dl-version">
            <i id="dl-icon" class="fa fa-download" aria-hidden="true"></i>
            <span>Latest release</span>
            <i id="dl-icon-2" class="fa fa-arrow-circle-o-right hide" aria-hidden="true"></i>
        </div>
        <div class="dl-description">
            {version}<br>
            for {os} {arch}
        </div>
    </a>
</div>
</body>
</html>