<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>website-adoptium - 1.0.0-SNAPSHOT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="example-sponsors">
    <div class="banner lead">
        {msg:adoptium}
    </div>

    <h2>Working Group Members</h2>

    <h3>Strategic Members</h3>
        <ul>
            {#for strategicMember in strategicMembers}
                {#if strategicMember.isValid}
                    <li><a href={strategicMember.memberLink} target="_blank" rel="noopener noreferrer">{strategicMember.memberName}</a></li>
                {#else}
                    <li><a>{strategicMember.memberName}</a></li>
                {/if}
            {/for}
        </ul>

    <h3>Enterprise Members</h3>
        <ul>
            {#for enterpriseMember in enterpriseMembers}
                {#if enterpriseMember.isValid}
                <li><a href={enterpriseMember.memberLink} target="_blank" rel="noopener noreferrer">{enterpriseMember.memberName}</a></li>
                {#else}
                <li><a>{enterpriseMember.memberName}</a></li>
                {/if}
            {/for}
        </ul>

    <h3>Participant Members</h3>
        <ul>
            {#for participantMember in participantMembers}
                {#if participantMember.isValid}
                <li><a href={participantMember.memberLink} target="_blank" rel="noopener noreferrer">{participantMember.memberName}</a></li>
                {#else}
                <li><a>{participantMember.memberName}</a></li>
                {/if}
            {/for}
        </ul>
</div>
</body>
</html>